<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
</head>
<body>
<form action="{% url "game2" %}" method="post">
{% csrf_token %}

Очки: <input readonly name="points" id="points" type="text" value="{{ points }}" size="10"> <br />
Осталось попыток: <input readonly id="attempts" name="attempts" type="text" value="{{ attempts }}" size="10"> <br />
<input name="level" type="hidden" value="{{ level }}"> <br />
<input id="mainButton" type="submit" value="Ok" />

</form>

{% if hands %}
    <ul>
    {% for hand in hands %}
        {% for win in winner %}
            {% if win == hand %}
                <span class="winner">
            {% else %}
                <span class="loser">
            {% endif %}
            {% for card in hand %}
                <img src="{{ MEDIA_URL }}{{ card }}.png">
            {% endfor %}
            </span><br /><br />
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>Error</p>
{% endif %}

{% now "jS F Y H:i" %}

<a href="{% url 'index' %}">На главную</a>

<script src="{{ STATIC_URL }}game.js"></script>
</body>
</html>