<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

Мини-игра, необходимо угадать какой набор карт из представленных имеет наибольший ранг в покере.<br />
За правильный ответ дается одно очко, за неверный отнимается.<br />

{% if time %}
    <h2>К сожалению время закончилось, попробуйте еще раз!</h2><br />
{%  endif %}

<br />Выберите режим игры и уровень сложности и нажмите Ok.<br />
<form action="{% url "game" %}" method="post">
{% csrf_token %}
    Десять секунд на каждый овтет, чтобы сохранить очки нужно нажать соответсвующую кнопку<input type="radio" name="level" value="Easy"> Easy
    <input type="radio" name="level" value="Medium" checked> Medium
    <input type="radio" name="level" value="Hard"> Hard

<input id="mainButton" type="submit" value="Ok" />
</form>
<br />
<form action="{% url "game2" %}" method="post">
{% csrf_token %}
    Дается право на три ошибки: <input type="radio" name="level" value="Easy"> Easy
    <input type="radio" name="level" value="Medium" checked> Medium
    <input type="radio" name="level" value="Hard"> Hard

<input id="mainButton" type="submit" value="Ok" />
</form>
<br /><a href="{% url 'results' %}">Рекорды</a>
</body>
</html>