<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% if attempts == 0 %}
<h2>К соажлению, три попытки были израсходованы...</h2><br />
{% endif %}
<form action="{% url "results" %}" method="post">
{% csrf_token %}

Ваши очки: <input readonly name="record" id="record" type="text" value="{{ record }}" ><br />
Введите псевдоним: <input name="user" id="user" type="text">
<input name="level" type="hidden" value="{{ level }}"> <br />
<input id="bu" type="submit" value="ok!" />
</form>

<br /><a href="{% url 'index' %}">На главную</a>
</body>
</html>