<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if records %}
<table border="2">
    <tr><td>Псевдоним</td><td>Очки</td><td>Уровень сложности</td><td>Дата рекорда</td></tr>
    {% for record in records %}
    <tr>
        <td>{{ record.user }}</td>  <td>{{ record.points }}</td>
        <td>{{ record.difficulty }}</td>  <td>{{ record.time }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

<br /><a href="{% url 'index' %}">На главную</a>
</body>
</html>